body { margin: 2vw; 
}



/* 1 header */

header {
  margin-bottom: 1.5vmin ; 

  display: flex;
  flex-direction: column;
}

.header-top a {
  font-weight: 600;
  text-decoration: none;
  color: indigo;

  position: absolute;
}

.lable {
  display: flex;
}

.lable div {
  display: flex;
  align-items: center;

  height: 14vw;
}

.lable div:nth-child(1){
  width: 12vw;
  }

.lable div:nth-child(2){
    width: 84vw;
    justify-content: center;
    }

.lable div img {
  width: 12vw;
}

#header-title {
  font-family: "Ruslan Display", cursive;
  font-size: 10vw;
  color: #3c82c2;

  margin: 0;
}



/* 2 nav */

nav {
  margin-bottom: 1vmin ; 
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 0;
}

nav a {
  display: block;

  text-decoration: none;
  color: #fff;
  font-family: arial;

  padding: 0px 1vw;
  background: #32989a;
}

.menu2,
.menu3 {
  display: none;
}



/* 3 main */

.slider, .slider img {
  width: 96vw;
}

.photo-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo-box div {
  width: 45vw;
  margin: 0.75vw;
}

.photo-box div img {
  width: 45vw;
}

.photo-box div img:hover{
  filter: brightness(70%);
}

.image_title {
  margin: 0 0 0 3vmin;
}



/* 4 end */

.end_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.innerImg {
  width: 94vw;
  margin: 0 auto 1vw auto;
}

.end_main h2 {
  width: 94vw;
  margin: 1vw auto;
}

span {
  font-weight: 600;
  text-decoration: underline;
}

.end_main p {
  width: 94vw;
  margin: 0.5vw auto;
}



/* 5 */

@media screen and (min-width: 1000px) {


    /* 6 header */

  .header-top {
    height: 3vw;
    }
    .header-top a {
      margin: 0.75vw 0.75vw 0 0;
    
      font-size: 2vw;
 
      right: 2vw;   /*position: absolute;*/
    }


    /* 7 nav */

    nav a {
      font-size: 1.3vw;
      line-height: 5.5vmin;  
      border: 0.25vmin solid #094546;
      border-radius: 1vw;
    }
    
    nav a:hover {
      background: #154877;
    }
    
    .menu1 {
      min-width: 16vw;
      width: max-content;
    }
      
    .menu2 li {
      position: relative;
    
      width: max-content;
      min-width: 16vw;
    }
    
    .menu3 > li {
      left: 16vw;
      top: -6vmin;
    }
    
    .menu1:hover > ul {
      display: block;
    }
    
    .menu2 > li:hover > .menu3 {
      display: block;
    }

    .image_title {
      font-size: 2vw;
    }

}



/* 8 */

@media screen and (max-width: 1000px) {
  
  /* 9 header */

  .header-top {
    height: 6vmin;
  }

  .header-top a {
    margin: 2vw 2vw 0 0;
  
    font-size: 4vw;

    right: 4vw;   /*position: absolute;*/
  }


  /* 10 nav */

  nav a {
    font-size: 3vw;
    line-height: 8vmin;  
    border: 0.25vmin solid #094546;
    border-radius: 2vw;
  }
  
  .menu1 {
    min-width: 45vw;
    width: max-content;
  }
  
   .image_title {
    font-size: 4vw;
  }

}


